.wrapper.container
  %head
    %title SevaGram
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,100,300,500", :rel => "stylesheet"}/
  %body
  .top-content
    .inner-bg
      .container
        .row
          .col-sm-8.col-sm-offset-2.text
            %h1
              %strong#form-heading SevaGram SignUp Form
        .row
          .col-sm-6.col-sm-offset-3.form-box
            .form-bottom
              = form_for(resource, class: "login-form", as: resource_name, url: registration_path(resource_name)) do |f|
              .form-group
                = f.label :type, class: "sr-only"
                = f.text_field :type, autofocus: true , class: "form-username form-control", placeholder: "Type"
              .form-group
                 f.label :name
                = f.text_field :name, autofocus: true

  <div class="field">
    <%= f.label :mobile_number %><br />
    <%= f.text_field :mobile_number, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autofocus: true %>


                .form-group
                  = f.label :email, class: "sr-only"
                  = f.email_field :email, autofocus: true, class: "form-username form-control", placeholder: "Username...."
                .form-group
                  = f.label :password, class: "sr-only"
                  = f.password_field :password, autocomplete: "off", class: "form-password form-control", placeholder: "Password..."
                .form-group
                  = f.label :password_confirmation, class: "sr-only"
                  = f.password_field :password_confirmation, autocomplete: "off", class: "form-password form-control", placeholder: "Password Confirmation..."
                .action
                  = f.submit "Sign Up!", class: "btn"
            = render "users/shared/links"